@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-400.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-400.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}
