@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSansCyrl-400.woff2") format("woff2"), url("../../fonts/MuseoSansCyrl-400.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}

* {
  font-family: 'MuseoSansCyrl';
  font-weight: 500;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
}

body {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  font-size: 12px;
}

.header__company {
  font-size: 18px;
  margin-top: 7px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__phone {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .header__company {
    font-size: 16px;
  }
  .header__phone {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    width: 50%;
  }
  .header__info {
    width: 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__contacts {
    width: 100%;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .header__phone {
    margin-top: 7px;
  }
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.button__main {
  width: 300px;
  height: 50px;
}

.button__submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .button {
    font-size: 10px;
    width: 130px;
  }
  .button__main {
    width: 300px;
    font-size: 14px;
  }
  .button__submit {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 10px;
  }
  .button__main {
    font-size: 12px;
    width: 250px;
  }
  .button__submit {
    font-size: 12px;
  }
}

.main-screen {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg.jpg) center center/cover no-repeat;
  color: white;
}

.main-screen__text {
  padding-top: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-screen__title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-screen__describtion {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 17px;
}

.main-screen__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 425px;
  margin-top: 65px;
}

.main-screen__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-screen__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-screen____advantage {
  font-size: 14px;
}

.main-screen__order {
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen__order p {
  font-size: 16px;
  padding-right: 5px;
}

.main-screen__rout {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-screen__link {
  display: block;
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .main-screen {
    min-height: auto;
    padding: 21px 0px 50px 0px;
  }
  .main-screen__title {
    font-size: 38px;
  }
  .main-screen__text {
    padding-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-screen__icons {
    margin-top: 50px;
    width: auto;
  }
  .main-screen__order {
    margin-top: 40px;
  }
  .main-screen__order p {
    font-size: 14px;
  }
  .main-screen__rout {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-screen__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-screen__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-screen__text {
    text-align: center;
    padding-top: 50px;
  }
  .main-screen__title {
    font-size: 30px;
  }
  .main-screen__describtion {
    font-size: 20px;
    margin-top: 10px;
    max-width: 280px;
  }
  .main-screen__icons {
    margin-top: 45px;
  }
  .main-screen__icon {
    margin-bottom: 20px;
  }
  .main-screen__icon img {
    margin-bottom: 10px;
  }
  .main-screen__advantage {
    font-size: 12px;
  }
  .main-screen__order {
    margin-top: 20px;
  }
  .main-screen__order p {
    font-size: 12px;
  }
  .main-screen__link {
    font-size: 12px;
  }
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.button__main {
  width: 300px;
  height: 50px;
}

.button__submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .button {
    font-size: 10px;
    width: 130px;
  }
  .button__main {
    width: 300px;
    font-size: 14px;
  }
  .button__submit {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 10px;
  }
  .button__main {
    font-size: 12px;
    width: 250px;
  }
  .button__submit {
    font-size: 12px;
  }
}

.consultation {
  background: url(../img/bg2.jpg) center center/cover no-repeat;
  min-height: 680px;
  padding-top: 100px;
}

.consultation__title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  max-width: 700px;
}

.consultation__text {
  margin-top: 8px;
  font-size: 20px;
  color: white;
}

@media (max-width: 768px) {
  .consultation {
    min-height: auto;
    padding: 60px 0px;
  }
  .consultation__title {
    font-size: 30px;
  }
  .consultation__text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .consultation__title {
    font-size: 25px;
  }
  .consultation__text {
    font-size: 12px;
  }
}

.feed__form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.feed__form input {
  height: 50px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4B4B4B;
  font-weight: 300;
}

.feed__form input:nth-child(3) {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .feed__form input {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .feed__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: white;
}

.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  right: -66px;
  left: auto;
}

@media (max-width: 768px) {
  .carousel__inner {
    width: auto;
  }
  .carousel__inner img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}

.catalog {
  padding-bottom: 100px;
}

.catalog__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
}

.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
          box-shadow: 3px 3px 20px #c70101;
  border: none;
}

.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}

.catalog__tab_active {
  background-color: #c70101;
  color: white;
  border: none;
}

.catalog__content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item {
  width: 300px;
  min-height: 400px;
  border: 2px solid #e8e8e8;
  background-color: white;
  padding: 20px 0px 26px 0px;
  overflow: hidden;
  margin-bottom: 20px;
}

.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}

.catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.catalog-item__description {
  margin-top: 16px;
  font-style: 14px;
  font-weight: 300;
  text-align: center;
}

.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}

.catalog-item__link:hover {
  color: #c70101;
}

.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: none;
}

.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
}

.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}

.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}

.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}

.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
  margin-top: 0;
}

.catalog-item__list li {
  position: relative;
  color: #555555;
  font-style: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-left: 50px;
}

.catalog-item__list li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: 35px;
  top: 5px;
}

.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% + 10px));
          transform: translateX(calc(-50% + 10px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}

.catalog-item__back:hover {
  color: #c70101;
}

@media (max-width: 768px) {
  .catalog {
    padding-bottom: 50px;
  }
  .catalog__title {
    font-size: 30px;
  }
  .catalog-item {
    width: 40%;
    padding: 20px 20px 26px 20px;
  }
  .catalog__content {
    margin-top: 45px;
  }
  .catalog__tabs {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .catalog__title {
    font-size: 25px;
  }
  .catalog__tabs {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
  }
  .catalog__tab {
    height: 35px;
    margin: 0px;
    width: 100%;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    margin-bottom: 10px;
    line-height: 33px;
  }
  .catalog__tab div {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    font-size: 12px;
  }
  .catalog-item {
    width: 100%;
  }
  .catalog-item__content {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  .catalog-item__content_active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.feedback__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.feedback__comments {
  margin-top: 60px;
}

.feedback__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.feedback__comment img {
  margin-right: 60px;
  max-width: 100%;
  height: 169px;
}

.feedback__name {
  font-size: 18px;
  font-weight: 700;
}

.feedback__experience {
  font-size: 14px;
  color: #646464;
}

.feedback__text {
  font-size: 16px;
  font-weight: 300;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .feedback__title {
    font-size: 28px;
  }
  .feedback__comments {
    margin-top: 40px;
  }
  .feedback__comment {
    margin-top: 40px;
  }
  .feedback__name {
    font-size: 16px;
  }
  .feedback__experience {
    font-size: 12px;
  }
  .feedback__text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .feedback__title {
    font-size: 25px;
  }
  .feedback__comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .feedback__comment img {
    display: block;
    margin: 0 auto;
  }
  .feedback__name {
    margin: 10px;
  }
}

.footer {
  margin-top: 100px;
  position: relative;
  height: 630px;
}

.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #c70101;
  padding: 50px 68px 60px 68px;
}

.footer__adr {
  margin-bottom: 36px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: 20px;
}

.footer__phone {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 38px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 20px;
}

.footer__phone :hover {
  color: white;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer__info {
    padding: 50px 50px 60px 50px;
  }
  .footer__adr {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer__phone {
    font-size: 18px;
  }
  .footer__social-item {
    width: 30px;
    height: 30px;
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .footer__adr {
    font-size: 16px;
  }
  .footer__phone {
    font-size: 16px;
  }
}
