@import 'base/variables';
@import 'base/fonts';

* {
	font-family: 'MuseoSansCyrl';
	font-weight: 500;
	font-size: 14px;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3{
	margin: 0;
}

.container {
	max-width: 950px;
	margin: 0 auto;
	padding: 0 15px;

	@media (max-width: $tablet-width) {
		padding: 0 30px;
		margin: 0 auto;
	 }
  
	 @media (max-width: $mobile-width) {
		margin: 0 auto;
  		padding: 0 15px;
	 }
}

body {
	margin: 0;
}

@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/buttons';
@import 'blocks/main-screen';
@import 'blocks/buttons';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';